{{- if or .Params.categories .Params.tags -}}
  {{ i18n "categories" }}:
  {{ range .Params.categories -}}
    {{- $category := replace . "#" "%23" -}}
    {{- $category = replace $category "." "%2e" -}}
    {{- $url := print "/categories/" ($category | urlize) "/" -}}
    <a class="category" href="{{- $url | relLangURL -}}">{{- . -}}</a>
  {{ end -}}
  |
  Tags:
  {{ range $index, $tag := .Params.tags -}}
    {{- $tag := replace $tag "#" "%23" -}}
    {{- $tag = replace $tag "." "%2e" -}}
    {{- $url := print "/tags/" ($tag | urlize) "/" -}}
    {{- if gt $index 0 }}, {{ end -}}
    <a class="tag" rel="tag" href="{{- $url | relLangURL -}}">{{- . -}}</a>
  {{- end -}}
{{- end -}}
