<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<title>{{ .Site.Title }} - {{ .Title }}</title>

<meta name="title" content="{{ .Title }}">
<meta name="description" content="{{ .Site.Params.description }}"/>
<meta name="Keywords" content="{{ .Site.Params.keywords }}">
<meta name="author" content="{{ .Site.Author }}">
<meta name="rating" content="General">
<meta name="revisit after" content="15 days">"
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{{ template "_internal/opengraph.html" . }}

<link rel="stylesheet" href="{{ "/css/style.css" }}" type="text/css" media="screen" />
<link rel="canonical" href="{{ .Permalink }}" />
<link hreflang="pt" href="TODO" rel="alternate" />
<link hreflang="en" href="TODO" rel="alternate" />