<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'SSX0RY4V3W',
    apiKey: 'a960586b7b29186de59160f10cb9e1da',
    siteId: '97b54fcd-ab3f-4d87-b9d0-d3bf355363c6',
    branch: 'main',
    selector: 'div#search',
  });
</script>