<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'K68D46LSHS',
    apiKey: '14d07b41cb898ae4a397e497473a4179',
    siteId: '97b54fcd-ab3f-4d87-b9d0-d3bf355363c6',
    branch: 'main',
    selector: 'div#search',
  });
</script>
