<ul>
    <li id="categories-1" class="widget widget_categories"><h2 class="widgettitle">Categorias</h2>
    <ul><li class="cat-item cat-item-3"><a href="https://abapinho.com/category/artigos/">Artigos</a></li>
      <li class="cat-item cat-item-38"><a href="https://abapinho.com/category/boaspracticas/">Boas prácticas</a></li>
      <li class="cat-item cat-item-21"><a href="https://abapinho.com/category/codigo/">Código</a></li>
      <li class="cat-item cat-item-4"><a href="https://abapinho.com/category/dicas/">Dicas</a></li>
      <li class="cat-item cat-item-5"><a href="https://abapinho.com/category/historias/">Histórias</a></li>
      <li class="cat-item cat-item-33"><a href="https://abapinho.com/category/link-2/">Link</a></li>
      <li class="cat-item cat-item-34"><a href="https://abapinho.com/category/noticias/">Notícias</a></li>
    </ul>
    </li>
    <li id="archives-2" class="widget widget_archive">
      <h2 class="widgettitle">Arquivo</h2> 
      <label class="screen-reader-text" for="archives-dropdown-2">Arquivo</label> 
      <select id="archives-dropdown-2" name="archive-dropdown">
        <option value="">Seleccionar mês</option><option value='https://abapinho.com/2020/05/'> Maio 2020 &nbsp;(1)</option>
        <option value='https://abapinho.com/2020/04/'> Abril 2020 &nbsp;(1)</option>
        <option value='https://abapinho.com/2020/03/'> Março 2020 &nbsp;(4)</option>
        <option value='https://abapinho.com/2020/02/'> Fevereiro 2020 &nbsp;(1)</option>
        <option value='https://abapinho.com/2020/01/'> Janeiro 2020 &nbsp;(2)</option>
        <option value='https://abapinho.com/2019/12/'> Dezembro 2019 &nbsp;(1)</option>
        <option value='https://abapinho.com/2019/11/'> Novembro 2019 &nbsp;(2)</option>
        <option value='https://abapinho.com/2019/10/'> Outubro 2019 &nbsp;(1)</option>
        <option value='https://abapinho.com/2019/09/'> Setembro 2019 &nbsp;(3)</option>
        <option value='https://abapinho.com/2019/08/'> Agosto 2019 &nbsp;(1)</option
          ><option value='https://abapinho.com/2019/07/'> Julho 2019 &nbsp;(1)</option>
        <option value='https://abapinho.com/2019/05/'> Maio 2019 &nbsp;(1)</option>
        <option value='https://abapinho.com/2019/04/'> Abril 2019 &nbsp;(1)</option>
        <option value='https://abapinho.com/2019/02/'> Fevereiro 2019 &nbsp;(2)</option>
        <option value='https://abapinho.com/2019/01/'> Janeiro 2019 &nbsp;(1)</option>
        <option value='https://abapinho.com/2018/11/'> Novembro 2018 &nbsp;(1)</option>
        <option value='https://abapinho.com/2018/10/'> Outubro 2018 &nbsp;(4)</option>
        <option value='https://abapinho.com/2018/07/'> Julho 2018 &nbsp;(1)</option>
        <option value='https://abapinho.com/2018/06/'> Junho 2018 &nbsp;(1)</option>
        <option value='https://abapinho.com/2018/03/'> Março 2018 &nbsp;(2)</option>
        <option value='https://abapinho.com/2018/02/'> Fevereiro 2018 &nbsp;(1)</option>
        <option value='https://abapinho.com/2018/01/'> Janeiro 2018 &nbsp;(1)</option>
        <option value='https://abapinho.com/2017/12/'> Dezembro 2017 &nbsp;(1)</option>
        <option value='https://abapinho.com/2017/10/'> Outubro 2017 &nbsp;(2)</option
        ><option value='https://abapinho.com/2017/09/'> Setembro 2017 &nbsp;(2)</option>
        <option value='https://abapinho.com/2017/07/'> Julho 2017 &nbsp;(3)</option>
        <option value='https://abapinho.com/2017/05/'> Maio 2017 &nbsp;(1)</option
        ><option value='https://abapinho.com/2017/03/'> Março 2017 &nbsp;(2)</option>
        <option value='https://abapinho.com/2017/02/'> Fevereiro 2017 &nbsp;(2)</option>
        <option value='https://abapinho.com/2017/01/'> Janeiro 2017 &nbsp;(3)</option>
        <option value='https://abapinho.com/2016/12/'> Dezembro 2016 &nbsp;(4)</option>
        <option value='https://abapinho.com/2016/11/'> Novembro 2016 &nbsp;(5)</option>
        <option value='https://abapinho.com/2016/10/'> Outubro 2016 &nbsp;(3)</option>
        <option value='https://abapinho.com/2016/09/'> Setembro 2016 &nbsp;(1)</option>
        <option value='https://abapinho.com/2016/08/'> Agosto 2016 &nbsp;(2)</option>
        <option value='https://abapinho.com/2016/07/'> Julho 2016 &nbsp;(4)</option>
        <option value='https://abapinho.com/2016/06/'> Junho 2016 &nbsp;(2)</option>
        <option value='https://abapinho.com/2016/05/'> Maio 2016 &nbsp;(5)</option>
        <option value='https://abapinho.com/2016/04/'> Abril 2016 &nbsp;(2)</option>
        <option value='https://abapinho.com/2016/03/'> Março 2016 &nbsp;(4)</option>
        <option value='https://abapinho.com/2016/02/'> Fevereiro 2016 &nbsp;(6)</option>
        <option value='https://abapinho.com/2016/01/'> Janeiro 2016 &nbsp;(4)</option>
        <option value='https://abapinho.com/2015/12/'> Dezembro 2015 &nbsp;(4)</option>
        <option value='https://abapinho.com/2015/11/'> Novembro 2015 &nbsp;(5)</option>
        <option value='https://abapinho.com/2015/10/'> Outubro 2015 &nbsp;(6)</option>
        <option value='https://abapinho.com/2015/08/'> Agosto 2015 &nbsp;(5)</option>
        <option value='https://abapinho.com/2015/07/'> Julho 2015 &nbsp;(4)</option>
        <option value='https://abapinho.com/2015/06/'> Junho 2015 &nbsp;(5)</option>
        <option value='https://abapinho.com/2015/05/'> Maio 2015 &nbsp;(4)</option>
        <option value='https://abapinho.com/2015/04/'> Abril 2015 &nbsp;(2)</option>
        <option value='https://abapinho.com/2015/03/'> Março 2015 &nbsp;(6)</option>
        <option value='https://abapinho.com/2015/02/'> Fevereiro 2015 &nbsp;(5)</option>
        <option value='https://abapinho.com/2015/01/'> Janeiro 2015 &nbsp;(5)</option>
        <option value='https://abapinho.com/2014/12/'> Dezembro 2014 &nbsp;(4)</option>
        <option value='https://abapinho.com/2014/11/'> Novembro 2014 &nbsp;(3)</option>
        <option value='https://abapinho.com/2014/10/'> Outubro 2014 &nbsp;(2)</option>
        <option value='https://abapinho.com/2014/09/'> Setembro 2014 &nbsp;(4)</option>
        <option value='https://abapinho.com/2014/08/'> Agosto 2014 &nbsp;(5)</option>
        <option value='https://abapinho.com/2014/07/'> Julho 2014 &nbsp;(7)</option>
        <option value='https://abapinho.com/2014/06/'> Junho 2014 &nbsp;(7)</option>
        <option value='https://abapinho.com/2014/05/'> Maio 2014 &nbsp;(4)</option>
        <option value='https://abapinho.com/2014/04/'> Abril 2014 &nbsp;(2)</option>
        <option value='https://abapinho.com/2014/03/'> Março 2014 &nbsp;(5)</option>
        <option value='https://abapinho.com/2014/02/'> Fevereiro 2014 &nbsp;(2)</option>
        <option value='https://abapinho.com/2014/01/'> Janeiro 2014 &nbsp;(4)</option>
        <option value='https://abapinho.com/2013/12/'> Dezembro 2013 &nbsp;(3)</option>
        <option value='https://abapinho.com/2013/11/'> Novembro 2013 &nbsp;(4)</option>
        <option value='https://abapinho.com/2013/10/'> Outubro 2013 &nbsp;(2)</option>
        <option value='https://abapinho.com/2013/07/'> Julho 2013 &nbsp;(4)</option>
        <option value='https://abapinho.com/2013/06/'> Junho 2013 &nbsp;(5)</option>
        <option value='https://abapinho.com/2013/05/'> Maio 2013 &nbsp;(4)</option>
        <option value='https://abapinho.com/2013/04/'> Abril 2013 &nbsp;(3)</option>
        <option value='https://abapinho.com/2013/03/'> Março 2013 &nbsp;(4)</option>
        <option value='https://abapinho.com/2013/01/'> Janeiro 2013 &nbsp;(2)</option>
        <option value='https://abapinho.com/2012/12/'> Dezembro 2012 &nbsp;(3)</option>
        <option value='https://abapinho.com/2012/11/'> Novembro 2012 &nbsp;(3)</option>
        <option value='https://abapinho.com/2012/10/'> Outubro 2012 &nbsp;(5)</option>
        <option value='https://abapinho.com/2012/09/'> Setembro 2012 &nbsp;(4)</option
        ><option value='https://abapinho.com/2012/08/'> Agosto 2012 &nbsp;(4)</option>
        <option value='https://abapinho.com/2012/07/'> Julho 2012 &nbsp;(5)</option>
        <option value='https://abapinho.com/2012/06/'> Junho 2012 &nbsp;(4)</option>
        <option value='https://abapinho.com/2012/05/'> Maio 2012 &nbsp;(5)</option>
        <option value='https://abapinho.com/2012/04/'> Abril 2012 &nbsp;(5)</option>
        <option value='https://abapinho.com/2012/03/'> Março 2012 &nbsp;(4)</option>
        <option value='https://abapinho.com/2012/02/'> Fevereiro 2012 &nbsp;(4)</option
        ><option value='https://abapinho.com/2012/01/'> Janeiro 2012 &nbsp;(5)</option>
        <option value='https://abapinho.com/2011/12/'> Dezembro 2011 &nbsp;(4)</option>
        <option value='https://abapinho.com/2011/11/'> Novembro 2011 &nbsp;(3)</option>
        <option value='https://abapinho.com/2011/10/'> Outubro 2011 &nbsp;(6)</option>
        <option value='https://abapinho.com/2011/09/'> Setembro 2011 &nbsp;(2)</option>
        <option value='https://abapinho.com/2011/08/'> Agosto 2011 &nbsp;(4)</option>
        <option value='https://abapinho.com/2011/07/'> Julho 2011 &nbsp;(4)</option>
        <option value='https://abapinho.com/2011/06/'> Junho 2011 &nbsp;(2)</option>
        <option value='https://abapinho.com/2011/05/'> Maio 2011 &nbsp;(2)</option>
        <option value='https://abapinho.com/2011/04/'> Abril 2011 &nbsp;(3)</option>
        <option value='https://abapinho.com/2011/03/'> Março 2011 &nbsp;(4)</option>
        <option value='https://abapinho.com/2011/02/'> Fevereiro 2011 &nbsp;(3)</option>
        <option value='https://abapinho.com/2011/01/'> Janeiro 2011 &nbsp;(1)</option>
        <option value='https://abapinho.com/2010/12/'> Dezembro 2010 &nbsp;(2)</option>
        <option value='https://abapinho.com/2010/11/'> Novembro 2010 &nbsp;(5)</option>
        <option value='https://abapinho.com/2010/09/'> Setembro 2010 &nbsp;(5)</option>
        <option value='https://abapinho.com/2010/08/'> Agosto 2010 &nbsp;(3)</option>
        <option value='https://abapinho.com/2010/07/'> Julho 2010 &nbsp;(1)</option>
        <option value='https://abapinho.com/2010/06/'> Junho 2010 &nbsp;(2)</option>
        <option value='https://abapinho.com/2010/05/'> Maio 2010 &nbsp;(2)</option>
        <option value='https://abapinho.com/2010/04/'> Abril 2010 &nbsp;(3)</option>
        <option value='https://abapinho.com/2009/11/'> Novembro 2009 &nbsp;(1)</option>
        <option value='https://abapinho.com/2009/10/'> Outubro 2009 &nbsp;(1)</option>
        <option value='https://abapinho.com/2009/09/'> Setembro 2009 &nbsp;(3)</option>
        <option value='https://abapinho.com/2009/08/'> Agosto 2009 &nbsp;(1)</option>
        <option value='https://abapinho.com/2009/06/'> Junho 2009 &nbsp;(3)</option>
        <option value='https://abapinho.com/2009/05/'> Maio 2009 &nbsp;(2)</option>
        <option value='https://abapinho.com/2009/03/'> Março 2009 &nbsp;(3)</option>
      </select>
      <script type="text/javascript">/*<![CDATA[*//* <![CDATA[ */
(function() {
 var dropdown = document.getElementById( "archives-dropdown-2" );
 function onSelectChange() {
   if ( dropdown.options[ dropdown.selectedIndex ].value !== '' ) {
     document.location.href = this.options[ this.selectedIndex ].value;
   }
 }
 dropdown.onchange = onSelectChange;
})();
/* ]]> *//*]]>*/</script>
    </li>
    <li id="linkcat-2" class="widget widget_links">
      <h2 class="widgettitle">Links</h2>
      <ul class='xoxo blogroll'>
        <li><a href="http://www.sapyard.com/" rel="acquaintance" target="_blank">SAP Yard</a></li>
        <li><a href="http://www.abapzombie.com/" rel="acquaintance" target="_blank">ABAP Zombie</a></li>
        <li><a href="http://www.onsap.com" rel="acquaintance" title="Collaborative Q&amp;A for SAP technies" target="_blank">OnSAP</a></li>
        <li><a href="http://apolemia.blogspot.com/" rel="acquaintance" title="Blog de Pedro Lima sobre SAP" target="_blank">Pedro Lima</a></li>
        <li><a href="https://www.guru99.com/abap-tutorial.html" rel="acquaintance" target="_blank">Guru99</a></li>
      </ul>
    </li>
    <li id="search-3" class="widget widget_search">
      <h2 class="widgettitle">Pesquisa</h2>
      <ul>
        <li>
          <form method="get" id="searchform" action="https://abapinho.com/">
            <div><input type="text" value="" name="s" id="s" /> <input type="submit" id="searchsubmit" value="ok" /></div> <br/>
          </form>
        </li>
      </ul>
    </li>
    <li id="qtranslate-6" class="widget qtranxs_widget">
      <ul class="language-chooser language-chooser-text qtranxs_language_chooser" id="qtranslate-6-chooser">
        <li class="lang-pt active"><a href="https://abapinho.com/pt/2020/05/clean-abap/" hreflang="pt" title="Português (pt)" class="qtranxs_text qtranxs_text_pt"><span>Português</span></a></li>
        <li class="lang-en"><a href="https://abapinho.com/en/2020/05/clean-abap/" hreflang="en" title="English (en)" class="qtranxs_text qtranxs_text_en"><span>English</span></a></li>
      </ul>
      <div class="qtranxs_widget_end"></div>
    </li>
  </ul>
  <br/>
  <div align="center"> <a href="http://feeds2.feedburner.com/blogabapinho" title="Subscrever este feed" rel="alternate" type="application/rss+xml">
    <img src="https://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/></a>
    <p/> 
    <a href="http://feeds2.feedburner.com/blogabapinho">
      <img src="https://feeds2.feedburner.com/~fc/blogabapinho?bg=E3DACF&amp;fg=345797&amp;anim=0" height="26" width="88" style="border:0" alt="" />
    </a>
    <p/>
    <br/>
  </div>