<ul>
  <li><h2>Categorias</h2>
  <ul><li><a href="/categories/artigos/">Artigos</a></li>
    <li><a href="/categories/boaspracticas/">Boas prácticas</a></li>
    <li><a href="/categories/codigo/">Código</a></li>
    <li><a href="/categories/dicas/">Dicas</a></li>
    <li><a href="/categories/historias/">Histórias</a></li>
    <li><a href="/categories/noticias/">Notícias</a></li>
    <li><a href="/acerca/">Acerca</a></li>
  </ul>
  </li>
  <li>
    <h2>Links</h2>
    <ul>
      <li><a href="https://www.abapzombie.com/" rel="acquaintance" target="_blank">ABAP Zombie</a></li>
      <li><a href="https://www.sapyard.com/" rel="acquaintance" target="_blank">SAP Yard</a></li>
      <li><a href="https://apolemia.blogspot.com/" rel="acquaintance" title="Blog de Pedro Lima sobre SAP" target="_blank">Pedro Lima</a></li>
      <li><a href="https://www.guru99.com/abap-tutorial.html" rel="acquaintance" target="_blank">Guru99</a></li>
    </ul>
  </li>
  <li>
    <h2>Pesquisa</h2>
    <ul>
      <li>
        <form method="get" id="searchform" action="/">
          <input type="text" name="s" id="s" /> <input type="submit" id="searchsubmit" value="ok" />
        </form>
        <br/>
      </li>
    </ul>
  </li>
  <li>
    <ul>
      <li><a href="https://abapinho.com/pt/2020/05/clean-abap/" hreflang="pt">Português</a></li>
      <li><a href="https://abapinho.com/en/2020/05/clean-abap/" hreflang="en">English</a></li>
    </ul>
  </li>
</ul>