<ul>
  <li><h2>{{ i18n "categories" }}</h2>
  <ul>
  {{- $currentPage := . }}
  {{ range .Site.Menus.main -}}
    <li><a href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
  {{- end }}
  </ul>
  </li>
  <li>
    <h2>Links</h2>
    <ul>
      <li><a href="https://www.abapzombie.com/" rel="acquaintance" target="_blank">ABAP Zombie</a></li>
      <li><a href="https://www.sapyard.com/" rel="acquaintance" target="_blank">SAP Yard</a></li>
      <li><a href="https://apolemia.blogspot.com/" rel="acquaintance" title="Blog de Pedro Lima sobre SAP" target="_blank">Pedro Lima</a></li>
      <li><a href="https://www.guru99.com/abap-tutorial.html" rel="acquaintance" target="_blank">Guru99</a></li>
    </ul>
  </li>
  <li>
    <h2>{{ i18n "search" }}</h2>
    <ul>
      <li>
        <form method="get" id="searchform" action="/search">
          <input type="text" name="s" id="s" /> <input type="submit" id="searchsubmit" value="ok" />
        </form>
        <br/>
      </li>
    </ul>
  </li>
{{ if .IsTranslated }}
<li>
  <ul>
  {{ range .Translations }}
    <li>
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    </li>
  {{ end }}
  </ul>
</li>
{{ end }}
</ul>