content/**/*.jpg filter=lfs diff=lfs merge=lfs -text
content/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
content/**/*.gif filter=lfs diff=lfs merge=lfs -text
content/**/*.png filter=lfs diff=lfs merge=lfs -text
content/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
content/**/*.pdf filter=lfs diff=lfs merge=lfs -text
themes/**/*.jpg filter=lfs diff=lfs merge=lfs -text
themes/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
themes/**/*.gif filter=lfs diff=lfs merge=lfs -text
themes/**/*.png filter=lfs diff=lfs merge=lfs -text
themes/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
themes/**/*.pdf filter=lfs diff=lfs merge=lfs -text
