<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  <div id="page">
    {{ partial "header.html" }}
    {{ partial "search.html" }}
    <div id="content" class="narrowcolumn">
      {{- block "pagetitle" . -}}{{- end -}}
      {{ partial "sponsor.html" }}
      {{- block "main" . -}}{{- end -}}
    </div>
    <div id="sidebar">{{ partial "sidebar.html" . }}</div>
    <hr />
    <div id="footer">&nbsp;</div>
  </div>
  {{ block "footerfiles" . -}} {{- end -}}
  {{ partial "search-footer.html" . }}
  {{ partial "analytics.html" . }}
</body>
</html>